{% extends "base.html" %}

{% block content %}
    <div class="header">
        <div class="profile-section">
            <img src="{{ user.profil.foto.url }}" alt="Profil Fotoğrafı">
            <a href="{% url 'profil' %}">Profil</a>
            <i class="fa fa-cog" aria-hidden="true"></i> <!-- Ayarlar simgesi -->
        </div>
        <div class="search-section">
            <input type="text" placeholder="Arama...">
            <button>Ara</button>
        </div>
        <div class="categories-section">
            <button id="categories-button">Kategoriler</button>
            <div id="categories-dropdown">
                <ul>
                    {% for kategori in kategoriler %}
                        <li><a href="#">{{ kategori.isim }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="popular-recipes">
        <h2>En Çok Beğenilen Tarifler</h2>
        <ul>
            {% for tarif in popular_tarifler %}
                <li>
                    <img src="{{ tarif.foto.url }}" alt="Tarif Fotoğrafı">
                    <h3>{{ tarif.isim }}</h3>
                    <p>Beğeni Sayısı: {{ tarif.begeni_sayisi }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="most-commented-recipes">
        <h2>En Çok Yorum Alan Tarifler</h2>
        <ul>
            {% for tarif in en_cok_yorum_alan_tarifler %}
                <li>
                    <img src="{{ tarif.foto.url }}" alt="Tarif Fotoğrafı">
                    <h3>{{ tarif.isim }}</h3>
                    <p>Yorum Sayısı: {{ tarif.yorum_sayisi }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
