{% extends "base.html" %}

{% block content %}
    <h1>Anasayfa</h1>
    
    <h2>Profil Bilgileri</h2>
    <p>Profil Fotoğrafı: {{ user.profil.foto.url }}</p>
    <p><a href="{% url 'profil' %}">Profil</a></p>
    
    <h2>Arama Çubuğu</h2>
    <form>
        <input type="text" placeholder="Arama...">
        <button>Ara</button>
    </form>
    
    <h2>Kategoriler</h2>
    <ul>
        {% for kategori in kategoriler %}
            <li>{{ kategori.isim }}</li>
        {% endfor %}
    </ul>
    
    <h2>En Çok Beğenilen Tarifler</h2>
    <ul>
        {% for tarif in popular_tarifler %}
            <li>
                <p>İsim: {{ tarif.isim }}</p>
                <p>Fotoğraf: {{ tarif.foto.url }}</p>
                <p>Beğeni Sayısı: {{ tarif.begeni_sayisi }}</p>
            </li>
        {% endfor %}
    </ul>
    
    <h2>En Çok Yorum Alan Tarifler</h2>
    <ul>
        {% for tarif in en_cok_yorum_alan_tarifler %}
            <li>
                <p>İsim: {{ tarif.isim }}</p>
                <p>Fotoğraf: {{ tarif.foto.url }}</p>
                <p>Yorum Sayısı: {{ tarif.yorum_sayisi }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
